body {font-size: 15px; line-height: 1.6;}
h1 {font-size: 40px;}
h2 {font-size: 30px;}
h3 {font-size: 23px;}


.navbar-inverse {
 background-color:#002855;
 border-color:#004088
}

.navbar-inverse .navbar-text {
 color:#ffffff
}

body {
    font-size: 15px;
}

p {
    font-size: 1.1em;
}

pre {
    font-size: 15px;
}

/*blue comment box */
.blue {
    background-color:#e6f0ff; 
    border-radius: 5px; 
    padding: 20px;
}


/* see giraffe teacup site for great css tips: https://github.com/tinystats/teacups-giraffes-and-statistics/blob/master/assets/style.css 
css below is from that page */

div.note, div.tip, div.gotcha, div.design, div.hat, div.obj{
  border: 4px #002855;
  border-style: solid;
  padding: 1em;
  margin: 1em 0;
  
  /*uncomment for icon */
  
  /* padding-left: 100px; 
  background-size: 70px; 
  background-repeat: no-repeat;
  background-position: 15px center; */
  min-height: 120px;
  /*color: #638f9d;*/
  color: #002855;
  background-color: #ffffff;
}

div.obj {
  font-size: 16px;
  line-height: 1.5em;
  font-family: "Roboto";
  /*background-image: url("../images/arrow.png");*/
}

div.obj>p:first-child {
  padding-top: 0;
  margin-top: 0 !important;
  font-family: "Roboto";
  text-transform: uppercase;
  letter-spacing: 0.1em;
}


/* LARGE IMAGE AT TOP OF EACH MODULE PAGE*/
.image-descript {
    position: relative;
}


/*.big_image is for module pages*/

.big_image {
  margin-top: -50px;
  margin-bottom: 2em;
  width: 100%;
}

.image-text{
    position: absolute;
    top:30%; /*# was 30% */
    left:0;
    right:0;
    bottom:0;
  }
  
.lil-image-text { 
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto;
    text-align: center; 
    display:block;
    font-family: 'Lora', serif;
      font-size: 24px;
      line-height: 1.5em;
      letter-spacing: 1px;
      font-style: italic;
      font-weight: normal;
      color: #fff;
  }

.big-image-text { 
  letter-spacing: 0.065em;
  line-height: 1em;
  font-size: 68px;
  text-transform: uppercase;
  text-align: center; 
  display:block;
  color: #fff;
  margin-bottom: 3rem;
}

.lil-image-text-dark { 
    margin-right: auto;
    margin-bottom: 24px;
    margin-left: auto;
    text-align: center; 
    display:block;
    font-family: 'Lora', serif;
      font-size: 40px;
      font-weight: normal;
      line-height: 1.5em;
      letter-spacing: 1px;
      font-style: italic;
      color: #191919;
  }

.big-image-text-dark { 
  letter-spacing: 0.065em;
  line-height: 1em;
  font-size: 68px;
  text-transform: uppercase;
  text-align: center; 
  display:block;
  color: #191919;
  margin-bottom: 3rem;
}


.color-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,.1);
}
